*{
	margin: 0;
	padding: 0;
}
body{
	background: #2e3436;
}
.clear{
	clear:both;
}

button{
	padding: 0.1em 0.2em;
	margin: 0.1em;
	cursor: pointer;
	background-color: #606061;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	border: none;
	transition: background-color 0.2s, color 0.2s;
}
button:hover{
	background-color: #D3D3D3;
	color: #000;
}
a{
	cursor: pointer;
}

#wrapper > header{
	margin-bottom: 0.5em;
	padding: 1em;
	background-color: #272c2d;
}

#boards > .board{
	margin-left: 0.5em;
	padding: 0.5em;
	display: inline-block;
	color: #000;
	background-color: #babdb6;
	transition: background-color 0.2s, color 0.2s;
}
#boards > .board:hover{
	color: #E4E4E4;
	background-color: #5B5B5B;
}


#wrapper > main{
	display: flex;
	/*flex-wrap: wrap;*/
}

.new_task{
	width: 15vw;
	min-width: 150px;
	padding: 0.5em;
	text-align: center;
	background: #272c2d;
	color: #ccc;
	cursor: pointer;
}
.new_task:hover{
	background: #babdb6;
	color: #555;
}

.task_container{
	display: flex;
	flex-wrap: wrap;
}

.task{
	width: 15vw;
	min-width: 150px;
	/*padding: 0.5em;*/
	box-sizing: content-box;
	margin: 0 0.5em 0.5em 0;
	background: #babdb6;
	word-wrap: break-word;
}


.task > button{
	float: right;
}

.task_blocks{
	margin: 0.5em 0;
}

.task_blocks > button{
	width: 100%;
}

.task_item{
	display: flex;
}

.task_item > #title{
	display: inline-block;
	width: 70%;
	height: 1.1em;
	padding: 0.2em;
	overflow: hidden;
	border: 1px solid #777;
	color: #000;
	text-decoration: none;
}
.task_item > #delete, .task_item > #edit{
	width: 15%;
}





.task_info {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	/*pointer-events: none;*/
}




.task_info:target {
	display: block;
	/*pointer-events: auto;*/
}

.task_info > div {
	width: 75%;
	max-width: 700px;
	min-width: 300px;
	/*height: 75%;*/
	/*overflow: auto;*/
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}


.close {
	background: #606061;
	color: #FFFFFF;
	/*line-height: 25px;*/
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
}

.close:hover { background: #00d9ff; }




.task_info .block{
	margin: 0.5em 0;
	padding: 0.5em;
	border: 1px solid #ccc;
}

.task_info .block header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.2em;
	border-bottom: 1px solid #ccc;
}

.task_info .block > .checklist{
	margin: 0.5em 0;
	padding: 0.5em;
	border: 1px solid #ccc;
}

.task_info .block > .checklist > .items{
	margin-bottom: 0.5em;
}

.task_info .block > .checklist > .items textarea{
	width: 100%;
	max-width: 100%;
	min-height: 50px;
}


.task_info .block > .checklist > .items .comment_title{
	width: 100%;
	margin-bottom: 0.2em;
}
