<div id="openModal" class="task_info">
	<div>
		<a href="#close" title="Закрыть" class="close">&#10060;</a>
		<span>{{TaskItem.carrentTask.data.name}}</span>
		<button ng-click="TaskItem.editTaskName()">&#128394;</button>
		<div class="block">
			<header>
				<h3>CheckList</h3>
			</header>
			<div ng-repeat="checkList in TaskItem.carrentTask.data.checkList track by $index" class="checklist">
				<header>
					<h4>{{checkList.name}} 10%</h4>
					<div>
						<button ng-click="TaskItem.editCheckList($index)">&#128394;</button>
						<button ng-click="TaskItem.deleteCheckList($index)">&#10060;</button>
					</div>
				</header>

				<section ng-repeat="checkItem in checkList.items track by $index" class="items">
					<div class="item">
					<ng-bind></ng-bind>
						<span>{{checkItem.checked | checktask}} </span><a ng-click="TaskItem.checkedListItem($parent.$index, $index)" title="кликни">{{checkItem.name}}</a>
						<button ng-click="TaskItem.editCheckListItem($parent.$index, $index)">&#128394;</button>
						<button ng-click="TaskItem.deleteCheckListItem($parent.$index, $index)">&#10060;</button>
					</div>
				</section>
				<button ng-click="TaskItem.addCheckListItem($index)">Добавить Задачу</button>
			</div>



			<button ng-click="TaskItem.addCheckList()">Добавить Check</button>
		</div>


		<div class="block">
			<header>
				<h3>Коментарии</h3>
			</header>

			<div class="checklist">
				<header>
					<h4>Добавление коментария</h4>
				</header>

				<section class="items">
					<textarea></textarea>
				</section>
				<button>Добавить Комент</button>
			</div>

			<div class="checklist">
				<header>
					<h4>Комент</h4>
					<button>&#10060;</button>
				</header>

				<section class="items">
					<textarea></textarea>
				</section>
			</div>

			<div class="checklist">
				<header>
					<h4>Комент</h4>
					<button>&#10060;</button>
				</header>

				<section class="items">
					<textarea></textarea>
				</section>
			</div>

		</div>
	</div>
</div>