<div class="task">
	<span>{{$index+1}})&nbsp;{{task_block.name}}</span>
	<button ng-click="Task.deleteTask($index)">&#10060;</button>
	<button ng-click="Task.editTitle($index)">&#128394;</button>
	<div class="clear"></div>
	<hr>
	<div class="task_blocks">
		<div ng-repeat="task_item in task_block.items track by $index" class="task_item">
			<a href="#openModal" ng-click="Task.viewItem($parent.$index, $index)" id="title" title="Подробнее">{{$index+1}}.&nbsp;{{task_item.name}}</a>
			<button id="edit" ng-click="Task.editItemTitle($parent.$index, $index)">&#128394;</button>
			<button id="delete" ng-click="Task.deleteItem($parent.$index, $index)">&#10060;</button>
			<div class="clear"></div>
			<hr>
		</div>
		<button ng-click="Task.addItem($index)">Добавить</button>
	</div>
</div>